// Specific CSS for your home-page
.card-intro-mrz {
    background-size: cover;
    color: aliceblue;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-intro-mrz1{
    height: 250px;
}

.card-intro-mrz2 {
    height: 400px;
  h2{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
