<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('background-banner.jpg');">
  <div class="container" id="container-banner">
    <h1><%= @aircraft.name %></h1>
  </div>
</div>

<div class="card-details">
  <div class="card-product-details">
    <h4><%= @aircraft.name %></h4>
    <p><%= @aircraft.description %></p>
    <p><%= "Seats: #{@aircraft.seats}" %></p>
  </div>
</div>
