<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
  <div>
    <div>
     <%= image_tag attachments['default.png'].url , style: 'height:20vw;width:20vw;' -%>
    </div>
    <h1 style="color:red">Thanks for signing up, <%= @user.first_name %>!</h1>
    <p>Thanks for joining and have a great day! Now sign in and do
      awesome things!</p>
  </div>
  </body>
</html>