<footer class="text-center text-lg-start bg-white text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5 p-4">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-plane me-3" aria-hidden="true"></i> FlyOner Company
          </h6>
          <p>
            Our company is dedicated to the rental of private planes and helicopters for business and leisure flights. Our goal is to offer our clients a quality service, with maximum security and discretion.          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-helicopter me-3"></i> Contact</h6>
          <p><i class="fas fa-home me-3"></i> Av. Corrientes 1234, Buenos Aires, Argentina</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@flyoner.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +54 9 11 1234 7723 </p>
        </div>
      </div>
    </div>
  </section>

  <div class="d-flex justify-content-center align-items-center" style="height: 109px; border-top: 0.3px solid rgba(229,231,235, 1);">
    <a class="link-dark text-decoration-none fw-bold" href="#">    FlyOner • 2022</a>
  </div>
</footer>

<!--    Contact us-->
<!--Phone: +54 9 11 1234 5678-->
<!--Email: info@flyoner.com-->
<!--Address: Av. Corrientes 1234, Buenos Aires, Argentina-->
<!--© 2022 Flyoner-->

