<footer class='px-4 d-flex justify-content-center align-items-center' style="height: 109px; border-top: 1px solid rgba(229,231,235, 1);">
  <a href='#' class="text-decoration-none">
    <div style="color: black;" class='fw-bold h6 my-0'>FlyOner • 2022</div>
  </a>
</footer>