<!-- Navbar-->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light py-2.3 shadow-1">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <a class="navbar-brand" href="#">Fly<b>oner</b></a>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul
      class="navbar-nav flex-row border rounded-pill px-3 pr-2 py-1 hover-shadow justify-content-between align-items-center"
      style="font-size: 12px;">
      <li class="nav-item mr-3">
        <strong>Selected map area</strong>
      </li>

      <li class="nav-item mr-3">
        <strong>Nov 18-19</strong>
      </li>

      <li class="nav-item d-flex justify-content-between align-items-center">
        <span class="text-muted pr-2">Add guests</span>
        <span type="button" class="btn btn-danger btn-floating btn-sm shadow-0">
                  <i class="fas fa-search"></i>
                </span>
      </li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item mr-2 mr-lg-1 ">
        <a type="button" class="btn btn-link btn-rounded text-dark px-2" data-ripple-color="dark" style="text-transform: none;">Become a host</a>
      </li>
      <li class="nav-item mr-2 mr-lg-1 ">
        <div>
          <a role="button" class="btn btn-light btn-rounded dropdown-toggle text-dark px-2 shadow-0"
             data-toggle="dropdown" aria-expanded="false" style="text-transform: none;">
            <i class="fas fa-globe"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" style="font-size: 12px;">
            <li>
              <a class="dropdown-item d-flex" href="#">
                <span style="flex-basis: 20%"><i class="fas fa-globe"></i></span>
                <span>English (US)</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex" href="#">
                <span style="flex-basis: 20%">$</span>
                <span>USD</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item mr-2 mr-lg-1 ">
        <div style="max-height: 36px">
          <a role="button"
             class="btn btn-light btn-rounded border dropdown-toggle hidden-arrow text-dark px-2 d-flex justify-content-between align-items-center shadow-0"
             data-toggle="dropdown" aria-expanded="false" style="text-transform: none;">
            <i class="fas fa-bars px-2 py-0"></i>
            <img src="https://mdbootstrap.com/img/new/avatars/1.jpg" class="rounded-circle" height="18" alt=""
                 loading="lazy" />
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" style="font-size: 12px;">
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><a class="dropdown-item" href="#">Notifications</a></li>
            <li><a class="dropdown-item" href="#">Trips</a></li>
            <li><a class="dropdown-item" href="#">Saved</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Host your home</a></li>
            <li><a class="dropdown-item" href="#">Host yan experience</a></li>
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Help</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>