<body>
<header class="d-flex align-items-center justify-content-between px-4 px-md-5 bg-white overflow-auto" style="height: 109px; border-bottom: 1px solid rgba(229,231,235, 1);">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Fly<b>Oner</b></a>
  </div>

  <a class="h5 link-dark text-decoration-none py-8 ms-5 me-4 my-0 text-center" href="/aircrafts">Aircrafts</a>
  <a class="h5 link-dark text-decoration-none py-8 ms-5 me-4 my-0 text-center" href="/flights">Flights</a>
  <a class="h5 link-dark text-decoration-none py-8 ms-5 me-4 my-0 text-center" href="/bookings">Bookings</a>


  <div class="d-flex ms-auto">
    <a class="h5 link-dark text-decoration-none py-8 ms-5 me-4 my-0 text-center" href="/users/sign_in">Log in</a>
    <a class="h5 link-dark text-decoration-none py-8 ms-5 me-4 my-0 text-center" href="/users/sign_up">Sign up</a>
  </div>
</header>
</body>