<div class="">
  <div class="revs-container m-5 pb-5">
    <h1 id="review-title"><strong><%= @aircraft.name.capitalize %> Reviews</strong></h1>
  <% @review_aircrafts.each do |review| %>
    <div class="review-card-jb mb-5 px-3 py-3">
      <div>
        <%= "#{review.stars} " %><i class="fa-solid fa-star"></i>
      </div>
      <div>
        <%= review.description.capitalize %>
      </div>
        <p id="btn-edit-rvs"><%= link_to "Edit", aircraft_review_aircrafts_path(@aircraft), class: "btn btn-light" %></p>
    </div>
  <% end %>
  </div>
</div>