.card-product-infos {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product-infos img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-details {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 10px;
}

.descripcion-avion {
  width: 600px;
}

.btn_ {
  width: 200px;
}
