
#navbar-brand-mm {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}

#navbar-brand-mm:hover {
    color: grey !important;
}

#links-nav-mm {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}

#links-nav-mm:hover {
    color: grey !important;
}


#navbarDropdown {
    border-radius: 70%;
}