
#navbar-brand-mm {
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}
#navbar-brand-mm-dark {
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
    font-weight: 900;
}

#navbar-brand-mm:hover {
    color: grey !important;
}



#links-nav-mm {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}

#links-nav-mm:hover {
    color: grey !important;
}


#navbarDropdown {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

// Underline hover

#links-nav-mm:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        /* Change the navbar's layout and styling for small screens */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #links-nav-mm {
        /* Change the styling of the navbar links for small screens */
        display: block;
        margin: 10px 0;
        font-size: 16px;
    }
}
