
#navbar-brand-mm {
<<<<<<< HEAD
=======
    //font-size: 1.5rem;
    //font-weight: 300;
    //line-height: 1.2;
>>>>>>> 62300ea82906fe1753edc12371c4bf9b440bb731
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}
#navbar-brand-mm-dark {
    //font-size: 1.5rem;
    //font-weight: 300;
    //line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
    font-weight: 900;
}



#links-nav-mm {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}

#links-nav-mm:hover {
    color: grey !important;
}


#navbarDropdown {
    border-radius: 70%;
}